<h2>Members</h2>
<button class="btn btn-default" (click)="addNewMember()">Add member</button>
<div *ngIf="addNewMemberMode">
  <app-member-form></app-member-form>
</div>

<ul class="border-box">
  <li *ngFor="let member of members"
      [class.selected]="member === selectedMember"
      (click)="onSelect(member)">
    <span class="badge">{{member.id}}</span>
    <span>{{member.name.fullNameFML}}</span>
  </li>
</ul>
<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
<div *ngIf="selectedMember">
  <h2>
    {{selectedMember.name.fullNameFML | uppercase}}
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>