<div class="container">
  <div *ngIf="!editMode">
    <div *ngIf="member">
      <h2>{{member.name.fullNameFML}} details!</h2>
      <div class="row">
        <div class="col-xs-3">First name</div>
        <div class="col-xs-9 pull-left">{{member.name.firstName}}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Middle name</div>
        <div class="col-xs-9 pull-left">{{member.name.middleName}}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Last name</div>
        <div class="col-xs-9 pull-left">{{member.name.lastName}}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Email</div>
        <div class="col-xs-9 pull-left">{{member.email}}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Mobile</div>
        <div class="col-xs-9 pull-left">{{member.mobile}}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Date of birth</div>
        <div class="col-xs-9 pull-left">{{member.dob}}</div>
      </div>
      <br>
      <button class="btn btn-default" (click)="edit()">Edit</button>
    </div>
  </div>
  <div *ngIf="editMode">
    <app-member-form [member]="member"></app-member-form>
  </div>
</div>